body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-image: url(https://photoshop-kopona.com/uploads/posts/2019-02/1550441916_32.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.tree{
    visibility: hidden;
}


.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors */
/* draws the lines to the left of the nodes */
.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}

/* draws lines to the right of the node and also down to the child */
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings */
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children ?why would you do this? */
.tree li:only-child{ 
  padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

/* smooths the connectors on the left children from right angle to smooth curve */
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/* Time to add downward connectors from parents */
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

/* puts boxes around the nodes, removes blue underline text & hyperlink & changes font */
.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/
.tree{
   background-color :white;
   height: 300px;
}
#message , .edituser , .addmembre, .arbre, .dec{
    background-color:#820f4a;
    color: #fff;
    border: #820f4a;
    box-shadow: #820f4a;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 16px;
}
.divbtn{
    display: flex;
    justify-content: space-around;
}
.divajout , .divajoutfamille{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #806d7727;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility:hidden;  

	
}
input , select{
    margin: 20px;
    font: 1em sans-serif;
    color: black;
	padding: 12px;
	border-radius: 10px;

}
.formajou, .formajoufamille{
    display: flex;
    flex-direction: column;
    background-color: #9a236268;
    width: 1000px;
    padding: 20px;

}
.btnajout , .btnajoutfamille{
	font-size: 39px;
    background-color:#820f4a;
    color: azure;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 30px;
}
.trie{
	visibility: visible;
}
